<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Say Hello App</title>
    <script src="../js/custom.js"></script>
    <!--<script type="application/javascript">
    // From here i will write my JavaScript
    
    </script>-->
</head>
<body>
   <h1>Example 1 </h1>
    <h1>Say Hello App</h1>
    <table>
        <tr>
            <td><label for="">FirstName</label></td>
            <td><input  id="firstname" type="text" placeholder="Type First Name Here"><span id="firstnameerror"></span></td>
        </tr>
        <tr>
            <td><label for="">LastName</label></td>
            <td><input id="lastname"  type="text" placeholder="Type Second Name here"><span id="lastnameerror"></span></td>
        </tr>
        <tr>
            <td><button id="sayhellobt">Say Hello</button></td>
            <td><button>Reset</button></td>
        </tr>
    </table>
    
</body>
</html>